@(title: String, menu: String)

@serber("Modelo de Datos", "Modelo de datos adaptado al ISO 2146:2010.  Flexible, potente, con capacidad de recibir datos de diferentes fuentes y diferentes modelos.", title) {
          <div class="block">
            <ol class="round">
              <li class="one">
                <a target="_blank" href="http://services.ands.org.au/documentation/ORCA-Registry.3.0.DatabaseSchema.pdf">DatabaseSchema.pdf</a><br />
                <p>Se ha seguido el esquema de ls ISO ya probado e implementado por ANDS.  Es perfecto para albergar datos de diferentes fuentes y por lo tanto de diferentes modelos. </p>
              </li>
              <li class="two">
                <a target="_blank" href="http://services.ands.org.au/documentation/rifcs/1.4/schemadocs/registryObjects.html">Modelo navegable del Esquema</a><br />
                <p>El modelo de Base de datos es una traslación directa de los esquemas XML que implementan la ISO.  Existe una completa documentación de este esquema.  Es muy importante seguir el modelo para no perderse en los campos uno a varios, los campos complejos, la relaciones de múltiples niveles y los "pares" type/value. </p>
              </li>
            </ol>
            <ul>
              <li><a href="http://services.ands.org.au/documentation/rifcs/1.4/schema/registryObjects.xsd" target="_blank">Registry Objects Schema</a> </li>
              <li><a href="http://services.ands.org.au/documentation/rifcs/1.4/schema/activity.xsd" target="_blank">Activity Schema</a> </li>
              <li><a href="http://services.ands.org.au/documentation/rifcs/1.4/schema/collection.xsd" target="_blank">Collection Schema</a> </li>
              <li><a href="http://services.ands.org.au/documentation/rifcs/1.4/schema/party.xsd" target="_blank">Party Schema</a> </li>
              <li><a href="http://services.ands.org.au/documentation/rifcs/1.4/schema/service.xsd" target="_blank">Service Schema</a> </li>
              <li><a href="http://services.ands.org.au/documentation/rifcs/1.4/schema/registryTypes.xsd" target="_blank">Type Definitions</a> </li>
            </ul>
          </div>

          <script type="text/javascript">
            var menuVm = "@menu";
          </script>
}
