@(title: String, menu: String)

@serber("Modelo de Datos", "Modelo de datos adaptado al esquema de la ISO 2146:2010.  Flexible, potente, con capacidad de recibir datos de diferentes fuentes.", title) {
          <div class="block">
            <ol class="round">
              <li class="one">
                <a target="_blank" href="//services.ands.org.au/documentation/ORCA-Registry.3.0.DatabaseSchema.pdf">DatabaseSchema.pdf</a><br />
                <p>Se ha seguido el esquema de la ISO ya probado e implementado por ANDS.  Este esquema es perfecto para albergar datos de diferentes fuentes y por lo tanto de diferentes modelos. </p>
              </li>
              <li class="two">
                <a target="_blank" href="//services.ands.org.au/documentation/rifcs/1.4/schemadocs/registryObjects.html">Documentación navegable del Esquema</a><br />
                <p>El modelo de datos es una traslación directa de las estructuras XML que implementan el esquema de la ISO.  Existe una completa documentación acerca de dicho esquema.  Es muy recomendable seguir la documentación de cerca para no perderse en los campos uno-a-varios, los campos complejos, las relaciones de múltiples niveles o los "pares" type/value. </p>
              </li>
            </ol>
            <ul>
              <li><a href="//services.ands.org.au/documentation/rifcs/1.4/schema/registryObjects.xsd" target="_blank">Registry Objects Schema</a> </li>
              <li><a href="//services.ands.org.au/documentation/rifcs/1.4/schema/activity.xsd" target="_blank">Activity Schema</a> </li>
              <li><a href="//services.ands.org.au/documentation/rifcs/1.4/schema/collection.xsd" target="_blank">Collection Schema</a> </li>
              <li><a href="//services.ands.org.au/documentation/rifcs/1.4/schema/party.xsd" target="_blank">Party Schema</a> </li>
              <li><a href="//services.ands.org.au/documentation/rifcs/1.4/schema/service.xsd" target="_blank">Service Schema</a> </li>
              <li><a href="//services.ands.org.au/documentation/rifcs/1.4/schema/registryTypes.xsd" target="_blank">Type Definitions</a> </li>
            </ul>
          </div>

          <script type="text/javascript">
            var menuVm = "@menu";
          </script>
}
