@(title: String, menu: String)

@serber("Modelo de Datos", "Modelo de datos versátil, potente y con capacidad para encapsular datos de diferente origen y naturaleza.", title) {
          <div class="block">
            <ol class="round">
              <li class="one"><a href="http://services.ands.org.au/documentation/ORCA-Registry.3.0.DatabaseSchema.pdf" target="_blank"><em>Database Schema</em></a>
              <p>El modelo de datos se basa en el esquema de la ISO 2146:2010 ya probado e implementado por ANDS.  Este modelo de datos ha demostrado ser perfecto para encapsular datos de diferentes fuentes (origen) y, por tanto, de diferentes tipos (naturaleza).
              <li class="two"><a href="http://services.ands.org.au/documentation/rifcs/1.5/schemadocs/registryObjects.html" target="_blank">Documentación navegable del esquema de la ISO 2146:2010</a>
              <p>El modelo de datos ha sido sintetizado a partir de las estructuras XML que implementan el esquema de la ISO 2146:2010.  Existe una extensa documentación acerca de dicho esquema.  Resulta muy recomendable seguir de cerca dicha documentación para no perderse en los campos uno-a-varios, los campos complejos, las relaciones de múltiples niveles o los "pares" <em>type</em>/<em>value</em>.
              <ul>
                <li><a href="http://services.ands.org.au/documentation/rifcs/1.5/schema/registryObjects.xsd" target="_blank"><em>Registry Objects Schema</em></a>
                <li><a href="http://services.ands.org.au/documentation/rifcs/1.5/schema/activity.xsd" target="_blank"><em>Activity Schema</em></a>
                <li><a href="http://services.ands.org.au/documentation/rifcs/1.5/schema/collection.xsd" target="_blank"><em>Collection Schema</em></a>
                <li><a href="http://services.ands.org.au/documentation/rifcs/1.5/schema/party.xsd" target="_blank"><em>Party Schema</em></a>
                <li><a href="http://services.ands.org.au/documentation/rifcs/1.5/schema/service.xsd" target="_blank"><em>Service Schema</em></a>
                <li><a href="http://services.ands.org.au/documentation/rifcs/1.5/schema/registryTypes.xsd" target="_blank"><em>Registry Types Schema</em></a>
              </ul>
            </ol>
          </div>
          <script type="text/javascript">
            var menuVm = "@menu";
          </script>
}
