@(title: String, menu: String)

@serber("Free & Open Source Software", "Movimiento de software libre y metodologías de código abierto.", title) {
          <div class="block">
            <ol class="round">
              <li class="one"><p>Potenciar el movimiento de software libre.  Se pretende facilitar la contribución a SERBER desde otras comunidades por lo que la arquitectura y otras tecnologías implicadas deben ser lo suficientemente libres como para, efectivamente, facilitar al máximo la colaboración de otros programadores (más motivación, menos <em>vendor lock-in</em>).
              <li class="two"><p>Utilizar la metodología de código abierto.  Se pretende facilitar la adopción de SERBER por otras instituciones por lo que la arquitectura y otras tecnologías implicadas deben ser lo suficientemente abiertas como para, efectivamente, facilitar al máximo la intercambiabilidad de los distintos componentes (más separación de conceptos, menos monolítico).
              <li class="three"><p>Adoptar bibliotecas, <em>frameworks</em> y lenguajes de programación de libre distribución y sin coste de licencia: Knockoutjs, Javascript, Play, Java/Scala, MySQL, SQL.
            </ol>
          </div>
          <script type="text/javascript">
            var menuVm = "@menu";
          </script>
}
