@(title: String)

@main(title) {
    <header>
      <div class="content-wrapper">
        <div class="logo-serber">
          <a title="Servicio de Registro de Bibliotecas y Entidades Relacionadas" href="/"></a>
        </div>
      </div>
      <div class="content-wrapper">
        <div class="float-left logo-mecd">
          <a title="Ministerio de Educación, Cultura y Deporte - Gobierno de España" href="/"></a>
        </div>
        <div class="float-left">
          <p class="site-title">
            <a href="/"><em>piloto</em></a>
          </p>
        </div>
      </div>
    </header>

    <div id="body">
      <section class="featured">
        <div class="content-wrapper">
          <hgroup class="title">
            <h1>¡Bienvenido a SERBER|piloto! </h1><br />
            <h2>Servicio de Registro de Bibliotecas y Entidades Relacionadas </h2>
          </hgroup>
          <p>Registro estandarizado de datos de bibliotecas y entidades relacionadas, españolas e internacionales, compilado con objeto de dar servicio a la comunidad cultural, al entorno bibliotecario, a la gestión pública y a los ciudadanos. </p>
          <p>DEFINICIÓN ISO 2146:2010<br />
          Registro: colección de objetos registrados compilada para dar soporte a la actividad de una determinada comunidad. </p>
        </div>
      </section>
      <section class="content-wrapper main-content clear-fix">
        <h3>Características del proyecto SERBER </h3>
        <ol class="round">
          <li class="one">
            <h5>Modelo de Datos vanguardista </h5>
            Software de código abierto.  Script de creación del modelo ejecutable en varios motores.  Base de datos del piloto MySQL.  <a href="/data-model">Ver más…</a>
          </li>
          <li class="two">
            <h5>Servicios Web <em>RESTful</em> </h5>
            Servicios que permiten administrar y consultar los datos guardados en el modelo.  Permiten obtener los datos en JSON y en XML.  <a href="/web-services">Ver más…</a>
          </li>
          <li class="three">
            <h5>Interfaz Web <em>responsive</em> </h5>
            SERBER tiene uso principal de registro y servicio centralizador para aplicaciones que utilicen datos del directorio <mark>Diana, Alzira</mark>.  Sin embargo, dispone de una interfaz Web que permite consultar y leer los datos para su visualización.  <a href="/web-interface">Ver más…</a>
          </li>
          <li class="four">
            <h5>Metadatos </h5>
            Elección de los vocabularios adecuados para una correcta definición de los objetos de registro y sus relaciones.  <a href="/metadata">Ver más…</a>
          </li>
          <li class="five">
            <h5><em>Linked Data</em> (Datos Enlazados) </h5>
            Creación de esquema RDF que permita intercambiar como dato enlazado SERBER.  <a href="/linked-data">Ver más…</a>
          </li>
          <li class="six">
            <h5><em>Open Source</em> (Código Abierto) </h5>
            Cambio de arquitectura, cambio de motor de base de datos, diseño y arquitectura modular.  Separación de conceptos.  <a href="/open-source">Ver más…</a>
          </li>
          <li class="seven">
            <h5>Referencias </h5>
            <a href="/references">Ver más…</a>
          </li>
        </ol>
        <h3><a href="/data">Datos</a> <a style="margin-right: 20px;" href="/notes">Notas</a> </h3>
        <h3>Descripción del proyecto <mark>piloto</mark> </h3>
        <div class="frame">
          <p>El proyecto <mark>piloto</mark> pretende implementar algunas de las características del proyecto SERBER: </p>
          <ul>
            <li>Construir el registro con un API de servicios Web <mark><a href="/web-services"><img border="0" src="@routes.Assets.at("images/orderedlist2.png")" width="14px" /></a></mark> que permita la consulta, lectura, adición y actualización del datos del registro.  Hacerlo con un nuevo modelo de datos <mark><a href="/data-model"><img border="0" src="@routes.Assets.at("images/orderedlist1.png")" width="14px" /></a></mark> basado en el schema de la ISO y usando herramientas de código abierto <mark><a href="/open-source"><img border="0" src="@routes.Assets.at("images/orderedlist6.png")" width="14px" /></a></mark> </li>
            <li>Construir la aplicación con una interfaz Web <mark><a href="/web-interface"><img border="0" src="@routes.Assets.at("images/orderedlist3.png")" width="14px" /></a></mark> que sea capaz de utilizar ese API para consultar y leer los datos del registro.  Hacerlo usando herramientas de código abierto <mark><a href="/open-source"><img border="0" src="@routes.Assets.at("images/orderedlist6.png")" width="14px" /></a></mark>.  Igual que lo podría hacer <mark>Diana, Alzira</mark>.  Ir a <mark><a href="/data">Datos</a></mark>: objetos de registro. </li>
          </ul>
        </div>
      </section>
    </div>
}
