@(title: String)

@main(title) {
    <header>
      <div class="content-wrapper">
        <div class="logo-serber">
          <a href="/" title="Servicio de Registro de Bibliotecas y Entidades Relacionadas"></a>
        </div>
      </div>
      <div class="content-wrapper">
        <div class="float-left logo-mecd">
          <a href="/" title="Ministerio de Educación, Cultura y Deporte - Gobierno de España"></a>
        </div>
        <div class="float-left">
          <p class="site-title"><a href="/">piloto</a>
        </div>
      </div>
    </header>
    <div id="body">
      <section class="featured">
        <div class="content-wrapper">
          <hgroup class="title">
            <h1>¡Bienvenido a SERBER|piloto!</h1>
            <br>
            <h2>Servicio de Registro de Bibliotecas y Entidades Relacionadas</h2>
          </hgroup>
          <p>Registro estandarizado de datos de bibliotecas y entidades relacionadas, españolas e internacionales, compilado con objeto de dar servicio a la comunidad cultural, al entorno bibliotecario, a la gestión pública y a los ciudadanos.
          <p>DEFINICIÓN ISO 2146:2010<br>
          Registro: colección de objetos registrados compilada para dar soporte a la actividad de una determinada comunidad.
        </div>
      </section>
      <section class="content-wrapper main-content clear-fix">
        <h3>Características del proyecto SERBER</h3>
        <ol class="round">
          <li class="one"><h5>Interfaz Web <em>responsive</em></h5>
          <p>Presentación de registro que permite la gestión vía web de datos de registro encapsulados en un novedoso modelo de datos.  Esta interfaz web es <em>responsive</em>, es decir, funciona de forma óptima sobre cualquier dispositivo.  <a href="/web-interface">Leer más…</a>
          <li class="two"><h5>Servicios Web <em>RESTful</em></h5>
          <p>Lógica de registro que permite la administración vía web de datos de registro encapsulados en un novedoso modelo de datos.  Estos servicios web son <em>RESTful</em>, es decir, funcionan de forma óptima sobre el protocolo HTTP.  <a href="/web-services">Leer más…</a>
          <li class="three"><h5>Modelo de Datos vanguardista</h5>
          <p>Datos de registro encapsulados en un modelo de datos versátil y potente que sea recreable, mediante la ejecución de un <em>script</em> SQL, en cualquiera de los mecanismos de almacenamiento disponibles.  La base de datos del proyecto piloto funciona sobre MySQL.  <a href="/data-model">Leer más…</a>
          <li class="four"><h5>Metadatos</h5>
          <p>Identificación y selección de vocabularios adecuados para la correcta representación de los objetos de registro y sus relaciones.  <a href="/metadata">Leer más…</a>
          <li class="five"><h5>Datos Enlazados</h5>
          <p>Creación de un esquema RDF que permita intercambiar datos de registro como datos enlazados SERBER.  <a href="/linked-data">Leer más…</a>
          <li class="six"><h5><em>Free &amp; Open Source Software</em></h5>
          <p>Utilización de software libre y código abierto.  Énfasis en la contribución y en la adopción facilitando tanto la colaboración de otros programadores como la intercambiabilidad de los distintos componentes.  <a href="/foss">Leer más…</a>
          <li class="seven"><h5>Referencias</h5>
          <p><a href="/references">Leer más…</a>
        </ol>
        <h3><a href="/notes">Notas</a> <a href="/registry-data" style="margin-right: 20px;">Datos de Registro</a></h3>
        <h3>Objetivos del proyecto piloto</h3>
        <div class="frame">
          <p>El proyecto piloto pretende demostrar algunas de las características del proyecto SERBER:
          <ul>
            <li><p>Construcción de una aplicación de búsqueda dotada de una interfaz web <em>responsive</em> <mark><a href="/web-interface"><img border="0" src="@routes.Assets.at("images/orderedlist1.png")" width="14px"></a></mark> que utilice un API de servicios web <em>RESTful</em> para la obtención (modo lectura) de datos de registro encapsulados en un novedoso modelo de datos <mark><a href="/data-model"><img border="0" src="@routes.Assets.at("images/orderedlist3.png")" width="14px"></a></mark>.  Utilización de software libre y código abierto <mark><a href="/foss"><img border="0" src="@routes.Assets.at("images/orderedlist6.png")" width="14px"></a></mark>.  Buscar y obtener <mark><a href="/registry-data">datos de registro</a></mark> en el proyecto piloto.
            <li><p>Construcción de un servicio de registro dotado de un API de servicios web <em>RESTful</em> <mark><a href="/web-services"><img border="0" src="@routes.Assets.at("images/orderedlist2.png")" width="14px"></a></mark> que permita la obtención (modo lectura) de datos de registro encapsulados en un novedoso modelo de datos <mark><a href="/data-model"><img border="0" src="@routes.Assets.at("images/orderedlist3.png")" width="14px"></a></mark>.  Utilización de software libre y código abierto <mark><a href="/foss"><img border="0" src="@routes.Assets.at("images/orderedlist6.png")" width="14px"></a></mark>.  Leer <mark><a href="/notes">notas</a></mark> sobre el proyecto piloto.
            <li><p>Síntesis de un novedoso modelo de datos <mark><a href="/data-model"><img border="0" src="@routes.Assets.at("images/orderedlist3.png")" width="14px"></a></mark> basado en el esquema de la ISO 2146:2010 que permita encapsular datos de registro procedentes de ALZIRA/DIANA <mark><a href="/metadata"><img border="0" src="@routes.Assets.at("images/orderedlist4.png")" width="14px"></a></mark>.
          </ul>
        </div>
      </section>
    </div>
}
