@(title: String, menu: String)

@serber("Datos Enlazados", "Distribución de datos de registro siguiendo el método de datos enlazados.", title) {
          <div class="block">
            <p class="title"><strong>Aspectos a realizar y tener en cuenta para la preparación de un esquema RDF</strong>
            <ul>
              <li><p>Concretar el modelo conceptual del perfil de aplicación de la ISO 2146:2010 en el que deben quedar perfectamente definidos y representados los objetos de registro y sus relaciones; preferentemente RDF.
              <li><p>Establecer el sistema de identificación de los diferentes tipos de datos de registro representados en el modelo conceptual mediante URIs.
              <li><p>Identificar y seleccionar los vocabularios de descripción de datos de registro para la correcta representación de los objetos de registro y sus relaciones.
              <li><p>Concretar un esquema de codificación de datos de registro en una sintaxis de ontología; preferentemente RDFS.
              <li><p>Asegurar la correcta publicación y mantenimiento del esquema.
              <li><p>Diseñar los procesos funcionales de enriquecimiento de datos de registro.
            </ul>
            <p>Se encuentra disponible en <a href="http://hdl.handle.net/10421/6501" target="_blank">Travesía</a> una monografía sobre buenas prácticas y recomendaciones en lo referente a estos temas.
          </div>
          <script type="text/javascript">
            var menuVm = "@menu";
          </script>
}
