@(title: String, menu: String)

@serber("Datos Enlazados", "Distribuir los objetos de registro siguiendo el método de Datos Enlazados.", title) {
          <div class="block">
            <p class="title"><strong>Aspectos a realizar y tener en cuenta para la preparación de una interfaz RDF</strong>
            <ul>
              <li>Concretar el modelo conceptual del perfil de aplicación de la norma ISO 2146:2010 en el que deben quedar perfectamente definidos y representados los objetos y las relaciones entre los objetos.  [RDF]
              <li>Establecer el sistema de identificación de los diferentes tipos de objetos representados en el modelo conceptual mediante URIs de HTTP.
              <li>Identificar y seleccionar los vocabularios de descripción de datos para la representación de objetos y relaciones.
              <li>Diseñar un esquema de codificación de los datos del Registro en una sintaxis de ontología, preferentemente RDFS.
              <li>Asegurar la correcta publicación y mantenimiento del esquema.
              <li>Diseñar los procesos funcionales de enriquecimiento de datos.
            </ul>
            <p>Se encuentra disponible en <a href="//hdl.handle.net/10421/6501">Travesía</a> un informe sobre buenas prácticas y recomendaciones en lo referente a estos aspectos.
          </div>
          <script type="text/javascript">
            var menuVm = "@menu";
          </script>
}
