@(title: String, menu: String)

@serber("Datos Enlazados", "Distribución de objetos de registro siguiendo el método de datos enlazados.", title) {
          <div class="block">
            <p class="title"><strong>Aspectos a realizar y tener en cuenta para la preparación de un esquema RDF</strong>
            <ul>
              <li><p>Concretar el modelo conceptual del perfil de aplicación de la ISO 2146:2010 en el que deben quedar perfectamente definidos y representados los objetos de registro y sus relaciones; preferentemente RDF.</p>
              <li><p>Establecer el sistema de identificación de los diferentes tipos de objetos de registro representados en el modelo conceptual mediante URIs.</p>
              <li><p>Identificar y seleccionar los vocabularios de descripción de datos para la correcta representación de objetos de registro y sus relaciones.</p>
              <li><p>Concretar un esquema de codificación de los datos registrados en una sintaxis de ontología; preferentemente RDFS.</p>
              <li><p>Asegurar la correcta publicación y mantenimiento del esquema.</p>
              <li><p>Diseñar los procesos funcionales de enriquecimiento de datos.</p>
            </ul>
            <p>Se encuentra disponible en <a href="//hdl.handle.net/10421/6501">Travesía</a> una monografía sobre buenas prácticas y recomendaciones en lo referente a estos temas.
          </div>
          <script type="text/javascript">
            var menuVm = "@menu";
          </script>
}
