@(title: String, menu: String)

@serber("Metadatos", "Distribuir los objetos de registro \"catalogados\" con leguaje controlado y estándar.", title) {
          <div class="block">
            <p class="title">
              <strong>Aspectos a realizar y tener en cuenta en la elección y control de los metadatos</strong>
            </p>
            <ul>
              <li>Identificar y seleccionar los vocabularios de descripción de datos para la representación de objetos y relaciones. </li>
              <li>Ya se dispone de un vocabulario asociado a la ISO <a href="http://services.ands.org.au/documentation/rifcs/1.3/vocabs/vocabularies.html">aquí</a>.  No obstante es de origen anglosajón y sería oportuno hacer una traducción/interpretación. </li>
              <li>Existe una carga inicial de objetos de registro (<mark>ALZIRA</mark> y <mark>DIANA</mark>) de la que se derivan listas controladas de datos.  Habrá que ver su posible correspondencia con estándares. </li>
            </ul>
            <p>Hay un informe sobre buenas prácticas y recomendaciones referente a estos aspectos en <a href="http://hdl.handle.net/10421/6501">Travesía</a>. </p>
          </div>

          <script type="text/javascript">
            var menuVm = "@menu";
          </script>
}
