@(title: String, menu: String)

@serber("Metadatos", "Distribuir los objetos de registro \"catalogados\" con un lenguaje estándar y controlado.", title) {
          <div class="block">
            <p class="title">
              <strong>Aspectos a realizar y tener en cuenta para la elección y control de metadatos</strong>
            </p>
            <ul>
              <li>Identificar y seleccionar los vocabularios de descripción de datos para la representación de objetos y relaciones. </li>
              <li>Existe un vocabulario asociado a la ISO <a href="//services.ands.org.au/documentation/rifcs/1.3/vocabs/vocabularies.html">aquí</a>.  No obstante, sería oportuno hacer la consiguiente traducción/interpretación. </li>
              <li>Existe un lote inicial de objetos de registro (<mark>ALZIRA</mark> y <mark>DIANA</mark>) de la que se derivan listas controladas de datos.  No obstante, sería oportuno estudiar su posible correspondencia con los estándares. </li>
            </ul>
            <p>Se encuentra disponible en <a href="//hdl.handle.net/10421/6501">Travesía</a> un informe sobre buenas prácticas y recomendaciones en lo referente a estos aspectos. </p>
          </div>

          <script type="text/javascript">
            var menuVm = "@menu";
          </script>
}
