@(title: String, menu: String)

@pilot("Notas", "Exposición de los aspectos más relevantes del proyecto piloto.", title) {
          <div class="block">
            <ol class="round">
              <li class="one"><h3>Tareas sobresalientes ya realizadas</h3>
              <ul>
                <li><p>Síntesis de un modelo de datos basado en el esquema de la ISO 2146:2010.
                <li><p>Construcción de un servicio de registro dotado de un API de servicios web <em>RESTful</em> que permite la obtención (modo lectura) de datos de registro encapsulados en el modelo de datos, vía web y utilizando el formato JSON.
                <li><p>Construcción de una aplicación "prueba de concepto" del servicio de registro dotada de una interfaz web <em>responsive</em> de búsqueda que utilice el API de servicios web <em>RESTful</em> para la obtención (modo lectura) de datos de registro encapsulados en el modelo de datos, vía web y utilizando el formato JSON.
                <li><p>Validación del modelo de datos mediante la carga de un lote de datos de registro procedentes de ALZIRA/DIANA en la aplicación "prueba de concepto" del servicio de registro.
              </ul>
              <li class="two"><h3>Tareas formales pendientes por realizar</h3>
              <ul>
                <li><p>Extensión de la aplicación "prueba de concepto" del servicio de registro de manera que se pueda utilizar el API de servicios web <em>RESTful</em> para la búsqueda, creación, actualización y borrado (modo escritura) de datos de registro encapsulados en el modelo de datos, vía web y utilizando JSON.
                <li><p>Elaboración de un entregable documentado.
              </ul>
              <li class="three"><h3>Conclusiones</h3>
              <ul>
                <li><p>El modelo de datos basado en el esquema de la ISO 2146:2010 ha demostrado ser perfecto para encapsular datos de registro de diferente origen y naturaleza.
                <li><p>Se observa la siguiente cadena de implicaciones: Si no se analiza cuidadosamente el origen de datos, esto es, los objetos de registro y en especial controlando sus relaciones, entonces no será posible establecer una correcta correlación entre el origen de datos y el esquema de la ISO 2146:2010, y, por ende, tampoco se le podrá sacar el máximo partido (vocabulario estándar y controlado, identificadores únicos, abierto en número y tipo de datos de registro, manejo de históricos, etc).
              </ul>
            </ol>
          </div>
          <script type="text/javascript">
            var menuVm = "@menu";
          </script>
}
