@(title: String, menu: String)

@pilot("Notas", "Aspectos relevantes de proyecto piloto.", title) {
          <div class="block">
            <ol class="round">
              <li class="one">
                <h3>Tareas más relevantes realizadas en el proyecto piloto </h3>
                <ul>
                  <li>Creación del modelo de datos </li>
                  <li>Creación del API JSON/XML </li>
                  <li>Prueba del API en modo lectura y consulta </li>
                  <li>Comprobación con datos de la validez del modelo </li>
                </ul>
              </li>
              <li class="two">
                <h3>Aspectos formales del proyecto piloto que quedan pendientes </h3>
                <ul>
                  <li>Realización de un entregable comentado </li>
                  <li>Prueba del API en modo escritura </li>
                </ul>
              </li>
              <li class="three">
                <h3>Conclusiones </h3>
                <ul>
                  <li>El modelo de datos abierto que aporta la ISO es perfecto para encajar todos los datos de diferente orígen y estructura. </li>
                  <li>Es necesario estudiar los datos de orígen, sobre todo las relaciones entre objetos de registro, para hacer una correcta correlación con el modelo de la ISO y sacar todo el partido a su esquema (vocabulario unificado, identificadores únicos, abierto en número y tipo de datos, manejo de históricos). </li>
                </ul>
              </li>
              <li class="four">
                <h3>Siguientes pasos </h3>
                <ul>
                  <li>Realizar una correlación de los datos de Alzira y Diana con el nuevo modelo de datos.  Para ello es fundamental clarificar los tipos de relaciones entre los objetos de registro y controlarlas.  Hay un trabajo previo (perfiles) realizado sobre las relaciones entre <em>parties</em>.  Realizar cargas de datos para visualizar el resultado. </li>
                  <li>Establecer un buscador completo. </li>
                  <li>Análisis y depuración de los datos comunes y complementarios Alzira/Diana.  Hay trabajo previo de correlación de campos, pero hay que validarlo con el nuevo modelo de datos y enmarcarlo dentro de la interfaz de SERBER. </li>
                  <li>Modificación Alzira para su interacción con SERBER. </li>
                  <li>Creación del nuevo DIANA en entorno web y conectado con SERBER. </li>
                  <li>...estrategia de Metadatos y Linked Data... </li>
                </ul>
              </li>
            </ol>
          </div>

          <script type="text/javascript">
            var menuVm = "@menu";
          </script>
}
