@(title: String, menu: String)

@pilot("Notas", "Aspectos relevantes de proyecto piloto.", title) {
          <div class="block">
            <ol class="round">
              <li class="one">
                <h3>Tareas más relevantes realizadas en el proyecto piloto </h3>
                <ul>
                  <li>Creación del modelo de datos. </li>
                  <li>Creación del API JSON/XML. </li>
                  <li>Prueba del API en modo consulta y lectura. </li>
                  <li>Validación del modelo mediante la comprobación con datos. </li>
                </ul>
              </li>
              <li class="two">
                <h3>Aspectos formales del proyecto piloto que quedan pendientes </h3>
                <ul>
                  <li>Realización de un entregable comentado. </li>
                  <li>Prueba del API en modo escritura. </li>
                </ul>
              </li>
              <li class="three">
                <h3>Conclusiones </h3>
                <ul>
                  <li>El modelo de datos que aporta el esquema de la ISO es perfecto para encapsular datos de diferente naturaleza y origen. </li>
                  <li>Es necesario estudiar el origen de datos, sobre todo las relaciones entre objetos de registro, para establecer una correcta correlación con el esquema de la ISO y, así, sacarle todo el partido (vocabulario unificado, identificadores únicos, abierto en número y tipo de datos, manejo de históricos). </li>
                </ul>
              </li>
              <li class="four">
                <h3>Siguientes pasos </h3>
                <ul>
                  <li>Establecer una correlación entre los datos de ALZIRA/DIANA y el nuevo modelo de datos.  Para ello es necesario no solo clarificar los tipos de relaciones entre los objetos de registro, sino también controlarlas.  Hay un trabajo previo (perfiles) realizado sobre las relaciones entre <em>parties</em>, pero habría que realizar cargas de datos para visualizar el resultado. </li>
                  <li>Establecer un buscador completo. </li>
                  <li>Analizar y depurar los datos comunes y complementarios en ALZIRA/DIANA.  Hay trabajo previo de correlación de campos, pero habría que validarlo con el nuevo modelo de datos y enmarcarlo dentro de la interfaz de SERBER. </li>
                  <li>Modificar ALZIRA para su interacción con SERBER. </li>
                  <li>Crear el nuevo DIANA para su interacción con SERBER. </li>
                  <li>Estrategia de Metadatos y Datos Enlazados… </li>
                </ul>
              </li>
            </ol>
          </div>

          <script type="text/javascript">
            var menuVm = "@menu";
          </script>
}
