@(title: String, menu: String)

@serber("Open Source", "Utilizar plataformas de fuentes abiertas.  Potenciar el desarrollo en comunidad.", title) {
          <div class="block">
            <ol class="round">
              <li class="one">
                <p>Utilizar software de código abierto.  Se pretende facilitar la adopción de SERBER por otras instituciones por lo que la arquitectura debe tener una correcta separación de conceptos que permita cambiar el motor de base de datos. </p>
              </li>
              <li class="two">
                <p>Orientar la arquitectura a un desarrollo abierto a un comunidad o forja, utilizando lenguajes y modelos que permitieran a otros desarroladores colaborar. </p>
              </li>
              <li class="three">
                <p>Se han adoptado librerías y frameworks de libre distribución y sin coste de licencia: Java/Scala, Play, MySQL, Knockoutjs. </p>
              </li>
            </ol>
          </div>

          <script type="text/javascript">
            var menuVm = "@menu";
          </script>
}
