@(title: String, menu: String)

@serber("Open Source/Free Software", "Utilizar metodologías de código abierto.  Potenciar el software libre en comunidad.", title) {
          <div class="block">
            <ol class="round">
              <li class="one"><p>Utilizar la metodología de código abierto.  Se pretende facilitar la adopción de SERBER por otras instituciones por lo que la arquitectura debe tener una correcta separación de conceptos que permita cambiar el motor de base de datos.</p>
              <li class="two"><p>Potenciar el movimiento de software libre.  Se pretende facilitar la contribución a SERBER desde otras comunidades por lo que la arquitectura debe permitir la utilización de lenguajes y modelos que permitan a otros programadores colaborar.</p>
              <li class="three"><p>Adoptar librerías y <em>frameworks</em> de libre distribución y sin coste de licencia: Java/Scala, Play, MySQL, Knockoutjs.</p>
            </ol>
          </div>
          <script type="text/javascript">
            var menuVm = "@menu";
          </script>
}
