@(category: String, description: String, title: String)(content: Html)

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width" name="viewport">
    <title>@title</title>
    <link href="@routes.Assets.at("stylesheets/main.css")" media="screen" rel="stylesheet">
    <link href="@routes.Assets.at("stylesheets/serber.css")" media="screen" rel="stylesheet">
    <link href="@routes.Assets.at("stylesheets/pilot.css")" media="screen" rel="stylesheet">
    <link href="@routes.Assets.at("images/favicon.png")" rel="shortcut icon" type="image/png">
  </head>
  <body>
    <header>
      <div class="content-wrapper">
        <div class="logo-serber">
          <a href="/" title="Servicio de Registro de Bibliotecas y Entidades Relacionadas"></a>
        </div>
      </div>
      <div class="content-wrapper">
        <div class="float-left logo-mecd">
          <a href="/" title="Ministerio de Educación, Cultura y Deporte - Gobierno de España"></a>
        </div>
        <div class="float-left">
          <p class="site-title"><a href="/">piloto</a>
        </div>
      </div>
    </header>
    <div id="body">
      <section class="titlebar">
        <div class="content-wrapper">
          <hgroup class="title">
            <h1>@category</h1>
          </hgroup>
          <p>@description
        </div>
      </section>
      <section class="content-wrapper">
        <div class="main-leftcolumn">
          <ul id="menu">
            <li><a href="/" title="Home SERBER|piloto">Home</a>
            <li class="separator">&nbsp;
            <li data-bind="css: { selected: menu()=='Notes' }"><a href="/notes" title="Notas piloto">Notas</a>
            <li data-bind="css: { selected: menu()=='RegistryData' }"><a href="/registry-data" title="Datos de Registro piloto">Datos de Registro</a>
          </ul>
        </div>
        <div class="main-contentcolumn">
          @content
        </div>
      </section>
      <footer class="content-wrapper footer">
        <p>SERBER - Servicio de Registro de Bibliotecas y Entidades Relacionadas
      </footer>
    </div>
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/knockout-2.2.1.js")"></script>
    <script src="@routes.Assets.at("javascripts/modernizr-2.5.3.js")"></script>
    <script src="@routes.Assets.at("javascripts/menu.js")"></script>
    <script src="@routes.Assets.at("javascripts/datapane.js")"></script>
  </body>
</html>
