@(title: String, menu: String)

@serber("Referencias", "Documentación de referencia y lecturas interesantes.", title) {
          <div class="block">
            <ol class="round">
              <li class="one"><a href="http://ands.org.au/resource/rif-cs.html" target="_blank"><em>Registry Interchange Format - Collections and Services (RIF-CS)</em></a>
              <p>ANDS dispone de la mejor implementación de la ISO 2146:2010 hasta la fecha y también de abundante información que resulta de gran utilidad para comprender mejor como desarrollar una aplicación de la misma.
              <li class="two"><a href="http://hdl.handle.net/10421/6501" target="_blank">Formatos de intercambio aplicables a SERBER</a>
              <p>Travesía dispone de una monografía acerca de las buenas prácticas y recomendaciones estratégicas sobre formatos de intercambio aplicables al Servicio de Registro de Bibliotecas y Entidades Relacionadas (SERBER) en un contexto de datos abiertos y enlazados.
            </ol>
          </div>
          <script type="text/javascript">
            var menuVm = "@menu";
          </script>
}
