@(title: String, menu: String)

@serber("Referencias", "Documentación que da soporte a SERBER.  Lecturas interesantes.", title) {
          <div class="block">
            <ol class="round">
              <li class="one">
                <a target="_blank" href="//ands.org.au/resource/rif-cs.html">Registry Interchange Format - Collections and Services (RIF-CS)</a><br />
                <p>La mejor implementación de la ISO es la realizada por ANDS que dispone de una muy completa información y documentación de gran utilidad para comprender mejor como llevar a una aplicación la ISO. </p>
              </li>
              <li class="two">
                <a target="_blank" href="//hdl.handle.net/10421/6501">Formatos de intercambio aplicables a SERBER</a><br />
                <p>Buenas prácticas y recomendaciones estratégicas sobre formatos de intercambio aplicables al Servicio de Registro de Bibliotecas y Entidades Relacionadas (SERBER) en un contexto de datos abiertos y enlazados. </p>
              </li>
            </ol>
          </div>

          <script type="text/javascript">
            var menuVm = "@menu";
          </script>
}
