@(category: String, description: String, title: String)(content: Html)

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/serber.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/pilot.css")">
  </head>
  <body>
    <header>
      <div class="content-wrapper">
        <div class="logo-serber">
          <a title="Servicio de Registro de Bibliotecas y Entidades Relacionadas" href="/"></a>
        </div>
      </div>
      <div class="content-wrapper">
        <div class="float-left logo-mecd">
          <a title="Ministerio de Educación, Cultura y Deporte - Gobierno de España" href="/"></a>
        </div>
        <div class="float-left">
          <p class="site-title"><a href="/">piloto</a>
        </div>
      </div>
    </header>
    <div id="body">
      <section class="titlebar">
        <div class="content-wrapper">
          <hgroup class="title">
            <h1>@category</h1>
          </hgroup>
          <p>@description
        </div>
      </section>
      <section class="content-wrapper">
        <div class="main-leftcolumn-home">
          <ul id="menu">
              <li data-bind="css: { selected: menu()=='SerberPilot' }"><a href="/" title="Home SERBER|piloto">Home</a>
              <li class="separator">&nbsp;
              <li data-bind="css: { selected: menu()=='WebInterface' }"><a href="/web-interface" title="Interfaz Web SERBER">Interfaz Web</a>
              <li data-bind="css: { selected: menu()=='WebServices' }"><a href="/web-services" title="Servicios Web SERBER">Servicios Web</a>
              <li data-bind="css: { selected: menu()=='DataModel' }"><a href="/data-model" title="Modelo de Datos SERBER">Modelo de Datos</a>
              <li data-bind="css: { selected: menu()=='Metadata' }"><a href="/metadata" title="Metadatos SERBER">Metadatos</a>
              <li data-bind="css: { selected: menu()=='LinkedData' }"><a href="/linked-data" title="Datos Enlazados SERBER">Datos Enlazados</a>
              <li data-bind="css: { selected: menu()=='FOSS' }"><a href="/foss" title="FOSS SERBER"><em>Free &amp; Open Source Software</em></a>
              <li data-bind="css: { selected: menu()=='References' }"><a href="/references" title="Referencias SERBER">Referencias</a>
              <li class="separator">&nbsp;
              <li><a href="/notes" title="Notas piloto">Notas</a>
          </ul>
        </div>
        <div class="main-contentcolumn-home">
          @content
        </div>
      </section>
      <footer class="content-wrapper footer">
        <p>SERBER - Servicio de Registro de Bibliotecas y Entidades Relacionadas
      </footer>
    </div>
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/knockout-2.2.1.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/modernizr-2.5.3.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/menu.js")" type="text/javascript"></script>
  </body>
</html>
