@(title: String, menu: String)

@serber("Interfaz Web", "Interfaz Web responsive que permita la visualización y depuración de información desde cualquier dispositivo.", title) {
          <div class="block">
            <ol class="round">
              <li class="one"><p>Mediante el API de servicios web RESTful y utilizando JSON se construye una interfaz web que permite buscar y visualizar los datos registrados.</p>
              <li class="two"><p>Adicionalmente se habilita la posibilidad de administrar los vocabularios controlados, control/vigilancia de duplicados y origen de datos, y ayudas a la depuración de los datos.</p>
              <li class="three"><p>Para poder transformar el esquema de la ISO a un modelo específico más concreto se anticipa será necesario realizar un importante esfuerzo que permita particularizar lo genérico; este trabajo será, no obstante, totalmente reutilizable para la conexión que, posteriormente, <mark>ALZIRA</mark> y <mark>DIANA</mark> tengan que establecer con SERBER.</p>
            </ol>
          </div>
          <script type="text/javascript">
            var menuVm = "@menu";
          </script>
}
